Nasiff_Bello/module2task/LamdaStep/StepFunction.json
{
  "Comment": "User Processor State Machine",
  "StartAt": "ProcessUser",
  "States": {
    "ProcessUser": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.UserType",
          "StringEquals": "CASUAL",
          "Next": "ProcessCasual"
        },
        {
          "Variable": "$.UserType",
          "StringEquals": "MEMBER",
          "Next": "ProcessMemeber"
        }
      ]
    },
    "ProcessCasual": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:711328479423:function:casualLambdaFunction",
      "End": true
    },
    "ProcessMemeber": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:711328479423:function:memberLambdaFunction",
      "End": true
    }
  }
}